---
layout: default
---

<!-- Welcome -->
<section id="main" class="container">
    <img src="{{ site.baseurl }}/assets/icons/ahmed_brand.svg" alt="Ahmed Kleit"/>
    <p>
      Hi, my name is Ahmed Kleit.<br>
      27 years old, Brazilian, raised in Ivory Coast.<br>
      Constantly motivated by new cultures and people. <br>
      Entrepreneur, working with product <del>design</del> & and development.
    </p>
    <div class="social-icons">
      {% for icon in site.data.main.social %}
        <div><a href="{{ icon.url }}"><img src="{{ site.baseurl }}/assets/icons/{{ icon.title }}.svg" alt="{{ icon.title }}"/></a></div>
      {% endfor %}
    </div>
</section>


<!-- Projects -->
<section id="projects">
    {% assign projects = site.projects | sort: 'order' %}
    {% for project in projects %}
      {% if project.type == 'main' %}
      <a href="{{ site.baseurl }}{{ project.permalink }}">
        <div class="project">
          <img src="{{ site.baseurl }}/uploads/{{ project.image }}" alt="{{ project.title }}"/>
          <div class="project-detail">
            <div class="chevron-right green"><img src="{{ site.baseurl }}/assets/icons/chevron-right.svg" alt="{{ project.title }}"/></div>
            <div class="chevron-right white"><img src="{{ site.baseurl }}/assets/icons/chevron-right-white.svg" alt="{{ project.title }}"/></div>
            <h2>{{ project.title }}</h2>
            <h3>{{ project.subtitle }}</h3>
            <p><small>{{ project.description }}</small></p>
          </div>
        </div>
      </a>
      {% endif %}
    {% endfor %}
</section>


<!-- About me -->
<section id="about-me" class="border-bottom">
    <div class="container">
      <h2 class="title">about me</h2>
      <p class="description">Create digital products focusing on results. Imagine solutions that add value. Think of improvements for a better experience. All this inspires me every day.</p>
      <div class="about-main">
        <p><strong>Partner at <a class="underline" href="#">BMK Partners</a><br>Go-To-Market Consultant <br>March 2015 - Present</strong></p>
        <p><strong>Co-creator at <a class="underline" href="#">101 Chefs</a><br>Product Owner <br>September 2015 - Present</strong></p>
        <p><strong>Co-creator at <a class="underline" href="#">Coletive.Co</a><br>Product Owner <br>December 2016 - Present</strong></p>
      </div>
      <div class="about-sec">
        <p><small>Co-creator at <a class="underline" href="#">Baobba</a><br>Creating business on horizontal structure <br>May 2015 - September 2016</small></p>
        <p><small>User Interface Design for the next car generation: Peugeot, Citroën and DS<br>PSA Peugeot Citroën <br>May 2014 - December 2014</small></p>
        <p><small>University Panthéon Sorbonne (France - Paris) <br>Master II - Multimédia, Interactive Media Design</small></p>
        <p><small>Fine Artes of São Paulo (Brasil - São Paulo) <br>Bacharel - Graphic Design</small></p>
      </div>
    </div>
</section>


<!-- Latest Projects -->
<section id="latest" class="border-bottom">
    <div class="container">
      <h2 class="title">latest projects</h2>
      <p class="description">That's the fun part about me. Important to know: I love traveling, I talk a lot, and I'm always in good company...</p>
    </div>
    <div id="see-more-projects">
      {% assign projects = site.projects | sort: 'order' %}
      {% for project in projects %}
        {% if project.type == 'latest' and project.order <= 8 %}
        <a href="{{ site.baseurl }}/latest#{{ project.permalink }}">
          <div class="project">
            <img src="{{ site.baseurl }}/uploads/{{ project.image }}" alt="{{ project.title }}"/>
          </div>
        </a>
        {% endif %}
      {% endfor %}
    </div>
    <a href="{{ site.baseurl }}/latest" class="see-more-btn"><div>see more</div></a>
</section>


<!-- My Life -->
<section id="my-life" class="border-bottom">
    <div class="container">
      <h2 class="title">my life</h2>
      <p class="description">That's the fun part about me. Important to know: I love traveling, I talk a lot, and I'm always in good company with a cold beer. ;) (emoji beer)</p>
    </div>
    <div id="instafeed"></div>
    <a href="{{ site.data.main.see-more-social }}" class="see-more-btn"><div>see more</div></a>
</section>


<!-- Contact -->
<section id="contacts">
    <div class="container">
      <h2 class="title">hey</h2>
      <p class="description">Please contact me for more information about me or my work. Based in São Paulo, however available for whole world.</p>
      <p><a href="mailto:kleit.ahmed@gmail.com">kleit.ahmed@gmail.com</a></p>
      <p>skype id: <a href="skype:kleit23">kleit23</a></p>
    </div>
</section>
