.project {
    margin-bottom: 24px;
    background-color: #fff;

    .chevron-right {
        float: right;
        padding: 12px;
    }

    .project-detail {
        padding: 0px 32px 4px 12px;
        border-bottom: solid 1px $color_light_gray;
        h2, h3 { color: $color__main; }
        p { color: $color__sec; }
    } 
}
