html, body {
    overflow-x: hidden;
    width: 100vw;
}

body {
  font-family: $font__main;
  font-size: 13.5px;
  line-height: 1.3em;
  color: $color__sec;
  background: $color__lighten_gray;
  position: relative;
  padding-bottom: 40px;
  min-height: calc(100vh - 40px);
}

a {
    color: $color__main;
    &.underline { text-decoration: underline; }
}

small { font-size: 11.5px; }

nav {
    height: 48px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px $color__light_gray;

    #nav-menu {
        display: flex;
        align-items: center;
        #nav-close {
          display: none;
        }
        a {
            color: $color__sec;
            padding: 5px;
            opacity: 0;
            transform: translateX(100vw);
            transition: transform 0.25s ease-out, opacity 0.25s ease, background-color 0.25s ease;
            &:hover {
              background-color: $color__gray;
            }
        }
        a:last-child {
            padding-right: 0;
        }
        &.open{
            a {
                opacity: 1;
                transform: translateX(0);
            }
            #nav-close {
              display: block;
            }
            #nav-icon {
              display: none;
            }
        }
    }
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $color__main;
    padding: 6px 12px;

    .social-icons {
        text-align: center;
        margin: 0 auto;
        position: absolute;
        top: 6px;
        bottom: 0;
        left: 0;
        right: 8px;
        a img {
            height: 14px;
        }
    }

    #scroll-up {
        height: 48px;
        width: 48px;
        padding: 24px 24px 0px 24px;
        margin-top: -56px;
        float: right;
        img {
            box-shadow: -3px 2px 6px 0px rgba(0, 0, 0, 0.25);
            border-radius: 24px;
            background-color: #003c3c;
        }
    }
}

@include media-breakpoint-up(xs) {
    nav #nav-menu a {
        margin: 0 3px;
    }
}

@include media-breakpoint-up(sm) {
  body { font-size: 14px; }
}

@include media-breakpoint-up(md) {
    nav {
        height: 60px;
        a img { height: 30px; }
        #nav-menu {
            a {
                transform: translateX(0);
                opacity: 1;
            }
            #nav-icon { display: none; }
       }
  }
  body {
    font-size: 16px;
  }
  small { font-size: 80%; }
  footer {
      padding: 12px;
      .social-icons {
          top: 12px;
          a img {
              height: 20px;
          }
      }
      #scroll-up {
        margin-top: -50px;
      }
  }
}

@include media-breakpoint-up(xxxl) {
  body { font-size: 18px; }
}
