// Sections
section {
    margin-top: 24px !important;
    margin-bottom: 24px !important;
    > h2, .container > h2 { color: $color__main; }
}

.container {
    padding: 0 12px;
    max-width: 768px;
    margin: 0 auto;
}

.border-bottom { border-bottom: solid 1px $color__light_gray; }

@include media-breakpoint-up(sm) {
    section {
        h2.title {
            text-align: center;
        }
    }
}


//Main
.social-icons div {
    padding: 6px 8px;
    display: inline-block;
    transition: background-color .25s ease;
    &:hover {
      background-color: $color__gray;
    }
}

// Main & Latest Projects
.project > img {
    // width: 576px;
    height: auto;
    object-fit: cover;
    display: grid;
}

// Main Projects
#projects {
    .project {
        position: relative;
        margin-bottom: 24px;
        background-color: #fff;

        .project-detail {
            padding: 0px 12px 4px 12px;
            border-bottom: solid 1px $color__light_gray;
            .chevron-right {
              float: right;
              &.white{ display: none; }
            }
            p { color: $color__sec; }
        }
    }
}

@include media-breakpoint-up(sm) {
    #projects {
        display: flex;
        flex-flow: row nowrap;
        a { flex: 1 1 32%; }
    }
}

@include media-breakpoint-only(sm) {
    #projects {
        a:nth-child(even) .project {
            border-right: solid 1px $color__gray;
            border-left: solid 1px $color__gray;
            .project-detail {
                height: 251px;
            }
        }
        .project .project-detail {
            height: 250px;
        }
    }
}

@include media-breakpoint-up(md) {
    #projects .project .project-detail {
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        height: auto;
        opacity: 0;
        transition: opacity .25s ease;
        &:hover {
          opacity: 1;
        }
        h2, h3 { font-weight: 500; margin: 12px 0px; }
        h3 { font-size: 16px; }
        p { color: #fff }
        .chevron-right {
            padding: 12px;
            &.green { display: none; }
            &.white { display: block; }
            svg .cls-1 {
                fill: #fff;
            }
        }
    }
}
@include media-breakpoint-between(md, lg) {
    #projects .project>img {
        height: 300px;
    }
}
@include media-breakpoint-up(xxl) {
    #projects .project .project-detail {
        padding: 24px;
    }
}


// About Me
@include media-breakpoint-up(sm) {
    .about-main {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        p { flex: 0 1 25%; }
    }
}
@include media-breakpoint-up(xxxl) {
  .about-main p { flex: 0 1 33%; }
}


// Latest Projects
#see-more-projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 1530px;
    margin: 0 auto;
    a { flex: 0 1 50%; }
    .project {
        display: grid;
        margin: 1px;
        outline-color: $color__gray;
        transition: outline .25s ease;
        &:hover {
            outline: solid 8px $color__gray;
        }
    }
}
.see-more-btn {
    margin: 32px 24px;
    display: flex;
    justify-content: center;
    text-align: center;

    div {
        width: 90px;
        height: 30px;
        font-size: 11.25px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 1px $color__main;
        background-color: $color__lighten_gray;
        color: $color__main;
        transition: background-color .25s ease, color .25s ease;
        &:hover {
            background-color: $color__main;
            color: #fff;
        }
    }
}
@include media-breakpoint-up(sm) {
    #see-more-projects a { flex: 0 1 25%; }
    .see-more-btn div {
        width: 110px;
        height: 35px;
        font-size: 13px;
    }
}
@include media-breakpoint-up(md) {
    #see-more-projects a { flex: 0 1 24%; padding: 3px; }
}
@include media-breakpoint-up(lg) {
    #see-more-projects a { padding: 5px; }
}
@include media-breakpoint-up(xxxl) {
    #see-more-projects a { padding: 7px; }
}


// My Life
#instafeed {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 1530px;
    margin: 0 auto;
    a {
        flex: 1 1 32%;
        display: grid;
        margin: 1px;
        img {
            height: calc(100vw / 3);
            object-fit: cover;
        }
    }
}

@include media-breakpoint-up(sm) {
    #instafeed a {
        flex: 1 1 24%;
        img { height: calc(100vw / 4); }
    }
}
@include media-breakpoint-up(md) {
    #instafeed a {
        flex: 0 1 24%;
        margin-bottom: 20px;
        img { height: calc(100vw / 5); }
    }
}
