---
---

@import "normalize";
@import "breakpoints";

// Variables
$color__main: #0eabad;
$color__sec: #003c3c;
$color__gray: #ebebeb;
$color__light_gray: #dcdcdc;
$color__lighten_gray: #fafafa;
$font__main: 'Lato', sans-serif;


// Definitions
@import "main";
@import "sections";
@import "project";
